.home-page {
  background-color: #f8f9fa;
}
.main-container {
  height: 100%;
}
.side-nav-container {
  background-color: #f8f9fa;
  overflow: hidden;
}
.mat-drawer.mat-drawer-side {
  width: 8%;
}
.logo-container {
  width: 100%;
  height: 17.5%;
}
.logo-container img {
  width: 100%;
  padding-top: 14px;
}
.side-nav-style {
  background: #021028;
}
.side-nav-split {
  width: 67%;
}
.side-nav-options {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 4px;
  padding-right: 4px;
}
.icon-size {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.icon-name {
  font-size: 10px;
  justify-content: center;
  display: flex;
  text-transform: capitalize;
}
.side-nav-icons {
  cursor: pointer;
}
