<div class="home-container">
  <h2 class="tab-header">dashboard</h2>
  <div class="dashboard-container">
    <div class="dashboard-welcome-container">
      <span class="introduction-description"
        ><h1><b class="dashboard-greeting">Hi There,</b></h1>
        <br />
        <b class="dashboard-intro">Welcome to</b> <br /><span
          class="dashboard-intro"
          >University of commons</span
        ></span
      >
      <span></span>
    </div>
    <div class="dashboard-content">
      <div class="dashboard-options-container">
        <img src="assets/7199773.jpg" alt="Logo" />
        <label class="dashboard-option-text">analytics</label>
      </div>
      <div class="dashboard-options-container">
        <img src="assets/opportunities.jpg" alt="Logo" />
        <label class="dashboard-option-text">opportunities</label>
      </div>
      <div class="dashboard-options-container">
        <img src="assets/applications.jpg" alt="Logo" />
        <label class="dashboard-option-text">applications</label>
      </div>
      <div class="dashboard-options-container">
        <img src="assets/settings.jpg" alt="Logo" />
        <label class="dashboard-option-text">settings</label>
      </div>
    </div>
  </div>
</div>
